.squareHide {
  background: rgb(228, 225, 225);
  border: 1px solid #999;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 20px;
  outline: none; 
}

.squareShow {
  background: rgb(245, 242, 242);
  border: 1px solid #999;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 20px;
  outline: none; 
}

.row {
  display: flex;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.inline {
  display: flex;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}